.main-container {
  max-width: 80%;
  margin: 50px 20px 50px auto;
  .exact-match {
    padding: 10px 10px;
    color: white;
    background-color: green;
  }
  .user-list {
    display: flex;
    .left-section {
      width: 80%;
    }
    .right-section {
    }
  }
}
